body {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: grid;
    place-items: center;
    background-color: rgba(25, 20, 30, 1);
}

.main-container {
    display: flex;
    flex-direction: column;

    width: 50%;
    max-width: 500px;

    background-color: rgba(70, 70, 70, 0.8);

    border-radius: 12px;
}

.screen {
    padding: 1em 1em;
    margin: 20px;

    background-color: white;

    text-align: end;
    font-size: 1.25rem;

    border-radius: 8px;
}

.screen div:nth-child(1) {
    min-height: 2rem;

    border-bottom: 1px solid;
    
    color: rgba(100, 100, 100, 1);
}

.buttons {
    margin: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    border-radius: 8px;

    overflow: hidden;
}

.key {
    padding: 1em .75em;

    border: none;
    border-radius: 0;

    background-color: white;

    transition: background .3s;
    outline: none;
}

.key:hover {
    background-color: rgba(200, 200, 200, 1);
}

.key:active {
    background-color: black;
}

.key:active {
    background-color: rgba(100, 100, 100, 1);
}